<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OrderMapper">
     <update id="updateOrderStatus">
         UPDATE takeout_order SET order_status=#{status} where order_id=#{order.order_id}
     </update>
    <select id="queryOrderById" resultType="po.Order">
        SELECT * from takeout_order WHERE order_id=#{order.order_id}
    </select>
</mapper>
