<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SenderMapper">
    <select id="querySenderById" parameterType="int" resultType="po.Sender">
        SELECT * from takeout_sender where sender_id=#{id}
    </select>
    <select id="querySenderAll" resultType="po.Sender">
        SELECT username from takeout_sender;
    </select>
    <select id="querySenderByName" resultType="po.Sender">
        SELECT * from takeout_sender WHERE  username=#{username};
    </select>
</mapper>
